@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>login homepage</title>
</head>
<body>
<div>
    <h2> Login homepage </h2>
    
    <form action="/home/login" method="post">
        <input type="text" name="username" value="" />
        <input type="text" name="password" value="" />
        <button type="submit"> Login </button>
    </form>

</div>
</body>
</html>